.blog-post-card11-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card11-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card11-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.blog-post-card11-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: flex-start;
}
.blog-post-card11-text {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card11-text1 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.blog-post-card11-text2 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card11-text3 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.blog-post-card11-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card11-text5 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.blog-post-card11-text6 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card11-text7 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.blog-post-card11-text8 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card11-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.blog-post-card11-link {
  margin-right: var(--dl-space-space-sixunits);
}
.blog-post-card11-link1 {
  background-color: var(--dl-color-success-300);
}





@media(max-width: 1200px) {
  .blog-post-card11-image {
    width: 300px;
    height: 400px;
  }
  .blog-post-card11-container {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-card11-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  .blog-post-card11-text1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text2 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-text3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text4 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-text5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text6 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-text7 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text8 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-container1 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .blog-post-card11-link {
    margin-right: var(--dl-space-space-sixunits);
  }
  .blog-post-card11-root-class-name1 {
    width: auto;
  }
  .blog-post-card11-root-class-name2 {
    width: auto;
  }
  .blog-post-card11-root-class-name3 {
    width: auto;
  }
}
@media(max-width: 980px) {
  .blog-post-card11-blog-post-card {
    width: auto;
    flex-direction: row;
  }
  .blog-post-card11-image {
    width: 300px;
    height: 400px;
    align-self: center;
  }
  .blog-post-card11-container {
    align-self: center;
  }
  .blog-post-card11-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  .blog-post-card11-text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text7 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text8 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-container1 {
    width: auto;
    height: auto;
    align-self: flex-start;
  }
  .blog-post-card11-link {
    margin-right: var(--dl-space-space-threeunits);
  }
  .blog-post-card11-link1 {
    background-color: var(--dl-color-success-300);
  }
}
@media(max-width: 650px) {
  .blog-post-card11-blog-post-card {
    width: auto;
    background-color: var(--dl-color-gray-white);
  }
  .blog-post-card11-image {
    width: 250px;
    height: 333px;
  }
  .blog-post-card11-container {
    align-self: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text2 {
    font-size: 8px;
  }
  .blog-post-card11-text3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text4 {
    font-size: 8px;
  }
  .blog-post-card11-text5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .blog-post-card11-text6 {
    font-size: 8px;
  }
  .blog-post-card11-text7 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .blog-post-card11-text8 {
    font-size: 8px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card11-container1 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .blog-post-card11-link {
    font-size: 14px;
    padding-top: 6px;
    margin-right: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 6px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 6px;
  }
  .blog-post-card11-link1 {
    font-size: 14px;
    padding-top: 6px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 6px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 6px;
    background-color: var(--dl-color-success-300);
  }
}
@media(max-width: 550px) {
  .blog-post-card11-blog-post-card {
    width: 360px;
  }
  .blog-post-card11-image {
    width: 166px;
    height: 222px;
  }
  .blog-post-card11-container1 {
    width: 100%;
    align-self: flex-start;
  }
  .blog-post-card11-link {
    font-size: 10px;
    margin-right: var(--dl-space-space-twounits);
  }
  .blog-post-card11-link1 {
    font-size: 10px;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}

.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}



@media(max-width: 980px) {
  .gallery-card1-gallery-card {
    width: auto;
  }
  .gallery-card1-image {
    width: 300px;
    height: 300px;
  }
  .gallery-card1-root-class-name {
    width: auto;
  }
  .gallery-card1-root-class-name1 {
    width: auto;
  }
  .gallery-card1-root-class-name2 {
    width: auto;
  }
}
@media(max-width: 650px) {
  .gallery-card1-gallery-card {
    width: auto;
  }
  .gallery-card1-image {
    width: 150px;
    height: 150px;
  }
}
@media(max-width: 550px) {
  .gallery-card1-image {
    width: 160px;
    height: 160px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
  font-size: 5rem;
  align-self: center;
  text-align: center;
}
.home-text01 {
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog {
  width: 1200px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.home-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-gallery {
  width: 1200px;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text04 {
  font-size: 28px;
}
.home-banner3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container5 {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text05 {
  padding: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 1200px) {
  .home-text {
    font-size: 5rem;
  }
  .home-text01 {
    font-size: 20px;
  }
  .home-blog {
    width: auto;
  }
  .home-gallery {
    width: 1000px;
  }
  .home-container4 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .home-text04 {
    width: auto;
    font-size: 28px;
  }
  .home-container5 {
    width: auto;
    align-self: center;
  }
  .home-text05 {
    width: 1000px;
    font-size: 22px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 980px) {
  .home-text {
    font-size: 4rem;
  }
  .home-text01 {
    font-size: 18px;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container1 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-gallery {
    width: 700px;
    grid-template-columns: 1fr 1fr;
  }
  .home-container4 {
    width: auto;
    height: auto;
    align-self: center;
  }
  .home-text04 {
    font-size: 24px;
  }
  .home-text05 {
    width: 700px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 650px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    font-size: 4rem;
  }
  .home-text01 {
    margin: var(--dl-space-space-unit);
    font-size: 14px;
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding: var(--dl-space-space-threeunits);
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container4 {
    width: auto;
    height: 28px;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .home-text04 {
    font-size: 14px;
  }
  .home-banner3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container5 {
    width: auto;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text05 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-link {
    text-decoration: underline;
  }
  .home-link1 {
    text-decoration: underline;
  }
  .home-link2 {
    text-decoration: underline;
  }
  .home-link3 {
    text-decoration: underline;
  }
  .home-link4 {
    text-decoration: underline;
  }
}
@media(max-width: 550px) {
  .home-banner {
    width: 100%;
  }
  .home-text {
    font-size: 40px;
  }
  .home-text01 {
    width: 100%;
    font-size: 10px;
  }
  .home-gallery {
    width: 360px;
    padding: 0px;
    align-self: center;
  }
  .home-text05 {
    width: 360px;
    padding: var(--dl-space-space-unit);
    font-size: 14px;
  }
}
