<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="61489b13-d2a4-4875-a628-9bd663d8e4c5"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>机型</span></span>
      <span class="blog-post-card1-text1"><span>包名：</span></span>
      <span class="blog-post-card1-text2"><span>md5：</span></span>
      <span class="blog-post-card1-text3"><span>更新时间：</span></span>
      <span class="blog-post-card1-text4"><span>维护者</span></span>
    </div>
  </div>
</div>
