<div>
  <link href="./blog-post-card11.css" rel="stylesheet" />
  <div class="blog-post-card11-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&h=400"
      class="blog-post-card11-image"
    />
    <div class="blog-post-card11-container">
      <span class="blog-post-card11-text"><span>device</span></span>
      <span class="blog-post-card11-text1"><span>包名</span></span>
      <span class="blog-post-card11-text2">
        <span>miui_CMIPRE_22.8.19_dc9f802608_12.0.zip</span>
      </span>
      <span class="blog-post-card11-text3"><span>md5</span></span>
      <span class="blog-post-card11-text4">
        <span>dc9f8026089f36a8af4d851ea3772403</span>
      </span>
      <span class="blog-post-card11-text5"><span>构建时间</span></span>
      <span class="blog-post-card11-text6"><span>time</span></span>
      <span class="blog-post-card11-text7"><span>维护者</span></span>
      <span class="blog-post-card11-text8"><span>维护者</span></span>
      <button class="blog-post-card11-button button"><span>下载</span></button>
    </div>
  </div>
</div>
